<h1>タスク一覧</h1>

<% if @tasks.any? %>

  <table class="table table-hover">
    <thread>
      <tr class="active">
        <th>id</th>
        <th>ステータス</th>
        <th>内容</th>
      </tr>
    </thread>
    
    <tbody>
<% @tasks.each do |task| %>      
      <tr>
        <td>
<%= link_to task.id, task %>          
        </td>
        <td>
<%= task.status %>          
        </td>
        <td>
<%= task.content %>          
        </td>
      </tr>
<% end %>

    </tbody>
  </table>
  
  <div>
<%= paginate @tasks %>
  </div>

<% end %>

  <p>
<%= link_to "新規タスクの作成", new_task_path, class: "btn btn-primary" %>
  </p>
